<template>
  <div class="chat">
    <div class="col h-100" v-if="chatView">
      <div class="h-100 d-flex flex-column">
        <div class="row">
          <div class="select-mode">
            <button class="button-mode" :class="{['active']: chatView}" v-on:click="changeToChat()">CZAT</button>
            <button class="button-mode" :class="{['active']: !chatView}" v-on:click="changeToMoves()">RUCHY</button>
          </div>
        </div>
        <div class="row flex-grow-1 px-4 py-3">
          <textarea id="textarea" disabled>{{displayMessages()}}</textarea>
        </div>
        <div class="row">
          <div class="input">
            <input v-model="chatInput" @keyup.enter="sendMessage()">
          </div>
        </div>
      </div>
    </div>
    <div class="col h-100" v-if="!chatView">
      <div class="h-100 d-flex flex-column">
        <div class="row">
          <div class="select-mode">
            <button class="button-mode" :class="{['active']: chatView}" v-on:click="changeToChat()">CZAT</button>
            <button class="button-mode" :class="{['active']: !chatView}" v-on:click="changeToMoves()">RUCHY</button>
          </div>
        </div>
        <div class="row flex-grow-1 px-4 py-3 moves-container-parent">
          <div id="moves" class="moves-container flex-disable">
            <div class="move-container" v-for="move in moves">{{movesScrollUpdate()}}
              <div v-if="move.type=='piece_move'"><i class="small-side-icon mr-1 bi-square-fill" :class="{['white']:move.side=='white',['black']:move.side=='black'}"></i>{{move.piece_type}}: {{move.old_pos}}>{{move.new_pos}}</div>
              <div v-if="move.type=='piece_move_capture'"><i class="small-side-icon mr-1 bi-square-fill" :class="{['white']:move.side=='white',['black']:move.side=='black'}"></i>{{move.piece_type}}: {{move.old_pos}}>{{move.new_pos}} (zbija {{move.piece_type_captured}})</div>
              <div v-if="move.type=='piece_move_castling'"><i class="small-side-icon mr-1 bi-square-fill" :class="{['white']:move.side=='white',['black']:move.side=='black'}"></i>{{move.piece_type}}: {{move.old_pos}}>{{move.new_pos}} (roszada {{move.type_of_castling}})</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {WebSocketClient} from '../services/WebSocketClient'

  export default {
    name: 'Chat',
    data() {
      return {
        chatInput: "",
        messages: [],
        moves: [],
        chatView : true,
        autoScroll: true,
        wsClient: new WebSocketClient(),
        messagesInterval: setInterval(() => {
          this.messages += null
          this.moves += null
          this.messages = this.wsClient?.getMessages()
          this.moves = this.wsClient?.getMoves()
        }, 100),
      };
    },
    methods: {
      sendMessage(){
        if(this.chatInput?.length > 0){
          this.wsClient.send('{"type":"chat_message","value":"' + this.chatInput + '"}')
          this.chatInput = ""
        }
      },
      displayMessages(){
        var chatContent = "";
        this.messages.forEach((message)=>{
          chatContent += message.value + "\n";
        });
        this.chatScrollUpdate()
        return chatContent;
      },
      chatScrollUpdate(){
        var chat = document.getElementById('textarea');
        if(chat) {
          var diff = chat.scrollHeight - chat.clientHeight;
          var spaceSize = parseInt(getComputedStyle(chat).fontSize) * 2
          if(diff - chat.scrollTop < spaceSize) this.autoScroll = true
          else this.autoScroll = false
          if (this.autoScroll) chat.scrollTop = diff;
        }
      },
      movesScrollUpdate(){
        var moves = document.getElementById('moves');
        if(moves) {
          var diff = moves.scrollHeight - moves.clientHeight;
          var firstChild = moves.firstElementChild
          if(firstChild){
            var spaceSize = parseInt(getComputedStyle(firstChild).height) * 1.5
            if(diff - moves.scrollTop < spaceSize) this.autoScroll = true
            else this.autoScroll = false
            if (this.autoScroll) moves.scrollTop = diff;
          }
        }
      },
      changeToMoves(){
        this.chatView = false
        var moves = document.getElementById('moves');
        var diff = moves.scrollHeight - moves.clientHeight;
        moves.scrollTop = diff;
      },
      changeToChat(){
        this.chatView = true
        var chat = document.getElementById('textarea');
        var diff = chat.scrollHeight - chat.clientHeight;
        chat.scrollTop = diff;
      }
    },
    beforeUnmount(){
      clearInterval(this.messagesInterval);
    }
  };
</script>

<style>
.button-mode{
  width: 50%;
  padding: 1.5rem;
  border: none;
  background-color: var(--chess-chat-tab-color) !important;
  color: var(--chess-text-color) !important;
}

.active{
  background-color: var(--chess-chat-selected-tab-color) !important;
}

textarea{
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  background-color: var(--chess-chat-background-color) !important;
  color: var(--chess-text-color) !important;
  resize: none;
  line-height: 1.5;
}

.input{
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
}

.input input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: var(--chess-chat-background-color) !important;
  color: var(--chess-text-color) !important;
}

.moves-container-parent{
  max-height: calc(100% - 3rem);
}

.moves-container{
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: var(--chess-chat-background-color) !important;
  color: var(--chess-text-color) !important;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 100%;
  padding-bottom: 0.75rem;
}

.move-container{
  width: 100%;
  border: none;
  border-radius: 1rem;
  margin-top: 0.75rem;
  padding: 0.5rem;
  background-color: var(--chess-chat-box-background-color) !important;
  color: var(--chess-text-color) !important;
  line-height: 1.0;
}

.small-side-icon{
  font-size: 1rem !important;
}
</style>