<template>
  <div class="profile-info" :class="{'profile-inline-block': inline == true}">
    <img src="../.././avatar.png" class="avatar" :class="{'avatar-spacing': spacing == true}"><br v-if="vertical == true"/>
    {{name}}
  </div>
</template>

<script>
  export default {
    props: ['name', 'vertical', 'spacing', 'inline'],
    name: 'PlayerInfo',
    data() {
      return {
      };
    }
  };
</script>

<style>
.avatar{
  border-radius: 50%;
  width: 3rem;
  text-shadow: 0 0 0.25rem black;
}

.avatar-spacing{
  margin-right: 1rem;
}

.profile-info{
  color: var(--chess-text-color);
}

.profile-inline-block{
  display: inline-block;
}
</style>