<template>
  <div class="modal fade" id="createGameRoomModal" tabindex="-1" role="dialog" aria-labelledby="createGameRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content create-room-modal">
        <form class="w-100 needs-validation" novalidate @submit="checkForm" onsubmit="return false">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label class="name-label" for="name">Nazwa</label>
                    <input v-model="name" type="text" class="form-control create-room-input" :class="{'is-invalid': !!this.errors.nameError}" id="name" aria-describedby="nameHelp" placeholder="Podaj nazwę pokoju">
                    <div v-if="!!this.errors.nameError" class="invalid-feedback">
                        {{ this.errors.nameError }}
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="description-label" for="description">Opis <span class="description-optional-label"><i>(Opcjonalne)</i></span></label>
                    <input v-model="description" type="text" class="form-control create-room-input" id="description" placeholder="Podaj opis pokoju">
                </div>
                <div v-if="!!this.result && !this.result?.id" class="alert alert-danger my-0" role="alert">
                    {{this.result}}
                </div>
                <div v-if="!!this.result?.id" class="alert alert-success my-0" role="alert">
                    Stworzono pokój
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-success">Dodaj pokój</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { registerGameRoom } from '../services/Requests'
export default {
    name: 'RegisterNewRoom',
    data() {
        return {
            errors: {},
            result: null,
            name: null,
            description: null,
        };
    },
    methods:{
        checkForm: function (e) {
            this.errors = {};
            if (!this.name) {
                this.errors.nameError = 'Podaj nazwę pokoju.';
            }
            console.log(Object.keys(this.errors).length)
            if (Object.keys(this.errors).length === 0) {
                this.registerRoom()
                return true;
            }
            e.preventDefault();
        },
        async registerRoom(){
            console.log("test")
            this.result = await registerGameRoom(localStorage.getItem('token'), this.name, this.description)
            console.log(this.result)
        }  
    }
};
</script>

<style>
.create-room-modal, .create-room-modal > *{
  line-height: 1.5;
  background-color: var(--chess-panel-background-color);
  border-color: var(--chess-panel-background-color);
  color: var(--chess-text-color) !important;
}

.description-optional-label{
  color: var(--chess-sub-text-color) !important;
}

.create-room-input{
  background-color: var(--chess-content-background-color) !important;
  color: var(--chess-text-color) !important;
}
</style>