<template>
  <div id="sidebar" class="sidebar" @mouseover="toggle" @mouseout="toggle">
    <slot name="nav"></slot>
  </div>
  <div id="main">
    <slot name="main"></slot>
  </div>
</template>

<script>
  import { RouterLink, RouterView } from 'vue-router'
    
  export default {
    name: 'Sidebar',
    props: {
      noHide: null
    },
    data() {
      return {
        minimalized: true
      };
    },
    methods: {
      toggle() {
        if(!this.noHide){
          if (this.minimalized) {
            document.getElementById("sidebar").style.width = "16rem";
            document.getElementById("main").style.marginLeft = "16rem";
            this.minimalized = false;
          } else {
            document.getElementById("sidebar").style.width = "4rem";
            document.getElementById("main").style.marginLeft = "4rem";
            this.minimalized = true;
          }
        } else {
          document.getElementById("sidebar").style.width = "16rem";
          document.getElementById("main").style.marginLeft = "16rem";
          this.minimalized = false;
        }
      }
    },
    mounted(){
        if(this.noHide){
          document.getElementById("sidebar").style.width = "16rem";
          document.getElementById("main").style.marginLeft = "16rem";
          this.minimalized = false;
        }
    }
  };
  </script>

  <style>
  .sidebar {
      height: 100%;
      width: 4rem;
      position: fixed;
      background-color: var(--chess-sidebar-background-color) !important;
      overflow-x: hidden;
      transition: 0.5s;
      padding: 1rem 0rem 1rem;
      white-space: nowrap;
  }
  
  .sidebar a {
      text-decoration: none;
      font-size: 2rem;
      color: var(--chess-text-color) !important;
      display: block;
      transition: 0.3s;
  }
  
  .sidebar a:hover {
      color: var(--chess-text-highlighted-color) !important;
  }
  
  .sidebar .closebtn {
      position: absolute;
      top: 0;
      font-size: 36px;
      margin-left: 4rem;
  }
  
  #main {
      transition: margin-left .5s;
      margin-left: 4rem;
      height: 100%;
  }
</style>