@import "theme-default.css";
@import "theme-dark.css";
@import "theme-light.css";
@import "extension.css";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  background-color: var(--chess-background-color) !important;
  background-image: var(--chess-background-image) !important;;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: var(--chess-panel-background-color) !important;
}
::-webkit-scrollbar-thumb {
  background: var(--chess-content-background-color) !important;
}