.theme-light{
    --chess-background-image: url("/background-light.png");

    --chess-background-color: white;
    --chess-sidebar-background-color: #eee;
    --chess-content-background-color: rgb(222 222 222);
    --chess-panel-background-color: rgb(248 248 248);

    --chess-text-color: black;
    --chess-text-highlighted-color: #444;
    --chess-sub-text-color: gray;

    --chess-chat-background-color: white;
    --chess-chat-box-background-color: rgb(213 213 213);
    --chess-chat-tab-color: rgb(200 200 200);
    --chess-chat-selected-tab-color: rgb(222 222 222);
}