:root{
    --chess-background-image: url("/background.png");
    
    --chess-background-color: black;
    --chess-sidebar-background-color: #212121;
    --chess-content-background-color: #3a3a3a;
    --chess-panel-background-color: #212121;

    --chess-text-color: silver;
    --chess-text-highlighted-color: white;
    --chess-sub-text-color: gray;

    --chess-chat-background-color: #2b2b2b;
    --chess-chat-box-background-color: #2f2f2f;
    --chess-chat-tab-color: #1c1c1c;
    --chess-chat-selected-tab-color: #3a3a3a;
}