.theme-dark{
    --chess-background-image: url("/background.png");

    --chess-background-color: black;
    --chess-sidebar-background-color: #111;
    --chess-content-background-color: rgb(32 32 32);
    --chess-panel-background-color: rgb(8, 8, 8);

    --chess-text-color: silver;
    --chess-text-highlighted-color: white;
    --chess-sub-text-color: gray;

    --chess-chat-background-color: rgb(24 24 24);
    --chess-chat-box-background-color: rgb(48 48 48);
    --chess-chat-tab-color: rgb(16 16 16);
    --chess-chat-selected-tab-color: rgb(32 32 32);
}