<template>
  <Sidebar v-bind:noHide=state.noHide v-if="!validateUrl($route)">
    <template v-slot:nav>
      <span class="game-name-span"><img src=".././avatar.png" class="game-logo">&nbsp; SZACHY</span>
      <RouterLink class="sidebar-link nav-item nav-link" to="/gamemodes"><i class="sidebar-icon bi-play-circle-fill"></i><span class="sidebar-span">Graj</span></RouterLink>
      <RouterLink class="sidebar-link nav-item nav-link" to="/profile"><i class="sidebar-icon bi-person-square"></i><span class="sidebar-span">Profil</span></RouterLink>
      <RouterLink class="sidebar-link nav-item nav-link" to="/stats"><i class="sidebar-icon bi-pie-chart-fill"></i><span class="sidebar-span">Statystyki</span></RouterLink>
      <RouterLink class="sidebar-link nav-item nav-link" to="/ranking"><i class="sidebar-icon bi-bar-chart-fill"></i><span class="sidebar-span">Ranking</span></RouterLink>
      <RouterLink class="sidebar-link nav-item nav-link" to="/history"><i class="sidebar-icon bi-book-half"></i><span class="sidebar-span">Historia</span></RouterLink>
      <div class="dropdown user-panel">
        <RouterLink class="sidebar-link nav-item nav-link" to="" @click="changeTheme($event)"><i class="sidebar-icon bi-moon-fill"></i><span class="sidebar-span">Motyw</span></RouterLink>
        <RouterLink class="sidebar-link nav-item nav-link" to="" @click="changeSideBarBehaviour($event)"><i @click="$event.target.classList.toggle('bi-arrow-bar-left')" class="sidebar-icon bi-arrow-bar-right"></i><span class="sidebar-span">Schowaj</span></RouterLink>
        <RouterLink class="sidebar-link nav-item nav-link" to="/settings"><i class="sidebar-icon bi-gear"></i><span class="sidebar-span">Ustawienia</span></RouterLink>
        <RouterLink class="sidebar-link nav-item nav-link" to="/logout"><i class="sidebar-icon bi-box-arrow-right"></i><span class="sidebar-span">Wyloguj</span></RouterLink>
      </div>
    </template>
    <template v-slot:main>
      <RouterView />
    </template>
  </Sidebar>
  <RouterView v-if="validateUrl($route)"/>
</template>

<script setup>
  import { RouterLink, RouterView } from 'vue-router'
  import { reactive } from 'vue'
  import Sidebar from './components/Sidebar.vue'

  const state = reactive({
    noSidebarUrl: ['', 'register', 'login', 'logout'],
    noHide: false
  })
  
  if(localStorage.getItem("theme") == 'light'){
    document.body.classList.toggle('theme-light')
  }else if(localStorage.getItem("theme") == 'dark'){
    document.body.classList.toggle('theme-dark')
  }

  const validateUrl = (route) => {
    const noSidebarRoute = route.matched.some(({ name }) => state.noSidebarUrl.filter(word => word === name).length > 0);
    if(!localStorage.getItem("token") && !noSidebarRoute && route.path !== '/'){
      const url = new URL(location.href)
      window.location.replace(url.origin); 
    }
    return noSidebarRoute;
  }

  const changeTheme = (event) => {
    if(event.target.tagName === "A"){
      event.target.firstChild.classList.toggle('bi-sun-fill')
      event.target.firstChild.classList.toggle('bi-moon-fill')
    }else{
      event.target.parentElement.firstChild.classList.toggle('bi-sun-fill')
      event.target.parentElement.firstChild.classList.toggle('bi-moon-fill')
    }
    document.body.classList.toggle('theme-light')
    document.body.classList.toggle('theme-dark')
    if(localStorage.getItem("theme") == 'light'){
      localStorage.setItem("theme", 'dark')
    }else if(localStorage.getItem("theme") == 'dark'){
      localStorage.setItem("theme", 'light')
    }
  }
  const changeSideBarBehaviour = (event) => {
    if(event.target.tagName === "A"){
      event.target.firstChild.classList.toggle('bi-arrow-bar-right')
      event.target.firstChild.classList.toggle('bi-arrow-bar-left')
    }else{
      event.target.parentElement.firstChild.classList.toggle('bi-arrow-bar-right')
      event.target.parentElement.firstChild.classList.toggle('bi-arrow-bar-left')
    }
    state.noHide = !state.noHide
  }
</script>

<style>
.sidebar-icon{
  margin-right: 1.25rem;
}

.sidebar-span{
  font-size: 1.5rem;
  margin-right: 1rem;
}

.sidebar-link{
  vertical-align: middle;
}

.sidebar-link:visited{
  color: var(--chess-text-color) !important;
}

.user-panel{
  position: absolute;
  bottom: 1rem;
}

.dropdown-toggle::after {
    display: none !important;
}

.game-logo{
  border-radius: 50%;
  width: 3rem;
  margin: 0 0 0.5rem 0.5rem;
  box-shadow: 0 0 0.25rem black;
}

.game-name-span{
  color: var(--chess-text-highlighted-color) !important;
  font-size: 1.5rem;
}
</style>
