{% extends "auth_layout.html" %}
{% load widget_tweaks %}

{% block content %}
<h3 class="text-light mt-3 mb-4">Create Your Chess Arena Account!</h3>
<div class="form-container">
  <form method="POST">
    {% csrf_token %}

    <!-- https://getbootstrap.com/docs/5.1/forms/floating-labels/#example -->
    <!-- https://github.com/jazzband/django-widget-tweaks -->
    
    <div class="form-floating mb-3">
      {% render_field form.username class="form-control" id="floatingUsername" placeholder="Username" %}
      <label for="floatingUsername">Username</label>
      {% if form.username.errors %}
        <div class="text-danger mt-2">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="form-floating mb-3">
      {% render_field form.email class="form-control" id="floatingEmail" placeholder="Email address" %}
      <label for="floatingEmail">Email address</label>
      {% if form.email.errors %}
        <div class="text-danger mt-2">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="form-floating mb-3">
      {% render_field form.password1 class="form-control" id="floatingPassword1" placeholder="Choose a password" %}
      <label for="floatingPassword1">Choose a password</label>
      {% if form.password1.errors %}
        <div class="text-danger mt-2">
          {% for error in form.password2.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="form-floating mb-3">
      {% render_field form.password2 class="form-control" id="floatingPassword2" placeholder="Repeat your password" %}
      <label for="floatingPassword2">Repeat your password</label>
      {% if form.password2.errors %}
        <div class="text-danger my-2">
          {% for error in form.password2.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
      
    {% if form.errors %}
      <div class="text-danger my-2">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-lg btn-primary">Create Account</button>
    </div>
  </form>
  <p class="text-light mt-4">
    Or <a href="{% url 'login' %}" class="auth-link">Login</a>
  </p>
</div>
{% endblock %}