<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Chess arena</title>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
  crossorigin="anonymous"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap"
  rel="stylesheet"
/>
<style>
  html,
  body {
    height: 100%;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
  }
  .form-container {
    width: 300px;
    margin: auto;
  }
  .outer-area {
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 600px;
    margin: auto;
    background: #1d3557;
  }
  .auth-link {
    color: #c850c0;
  }
  .auth-link:hover {
    color: #ffcc70;
  }
</style>
</head>

<body>
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="outer-area">
    <div class="auth-box text-center">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>


