<template>
    <iframe id="szachy" style="background-color: var(--chess-content-background-color--)" src="/src/game/Szachy.html"></iframe>
</template>

<script>
export default {
    name: 'Szachy',
    props: {},
    data() {
      return {
        lastTheme: localStorage.getItem("theme"),
        gameRoomStylesInterval: setInterval(() => {
          if(this.lastTheme != localStorage.getItem("theme")){
            this.lastTheme = localStorage.getItem("theme")
            this.updateCanvasStyle()
          }
        }, 100),
      };
    },
    computed: {},
    methods: {
      updateCanvasStyle(){ 
        var myIframe = document.getElementById('szachy')
        var bg_color_val = window.getComputedStyle(document.body, null).getPropertyValue('--chess-panel-background-color');
            myIframe.contentWindow.document.getElementById("canvas").setAttribute("style","background-color:" + bg_color_val + "!important; width:100vw; height:100vh")
      }
    },
    mounted(){
        var myIframe = document.getElementById('szachy')
        myIframe.addEventListener("load", function() {
            var bg_color_val = window.getComputedStyle(document.body, null).getPropertyValue('--chess-panel-background-color');
            myIframe.contentWindow.document.getElementById("canvas").setAttribute("style","background-color:" + bg_color_val + "!important; width:100vw; height:100vh")
        })
    },
    beforeUnmount(){
      clearInterval(this.gameRoomStylesInterval);
    }
};
</script>

<style>
#szachy{
    width: 100%;
    height: 100%;
}

#canvas{
    background-color: var(--chess-content-background-color) !important;
}

</style>