<template>
    <div class="gamemodesview-container container-sm">
      <div class="row h-100">
        <div class="gamemodes py-3">
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card gamemode-card">
                <img class="card-img-top" src="/versus.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Versus</h5>
                    <p class="card-text">Zagraj przeciwko innym graczom. W standardowej partii szachów.</p>
                    <RouterLink class="btn btn-primary gamemode-button" to="/gamemode/versus/gamerooms">Wyszukaj pokoju</RouterLink>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card gamemode-card">
                <img class="card-img-top" src="/ai.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AI</h5>
                    <p class="card-text">Zagraj przeciwko komputerowi. W standardowej partii szachów.</p>
                    <RouterLink class="btn btn-primary gamemode-button" to="/gamemode/versus/gamerooms">Wyszukaj pokoju</RouterLink>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { RouterLink } from 'vue-router'
  export default{
    components: {
        RouterLink
    },
  }
  </script>
  
  <style>
  .gamemodesview-container{ 
    line-height: 1.5;
    width: 100%;
    height: 100%;
  }
  
  .gamemodes{ 
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--chess-panel-background-color) !important;
    height: 100%;
  }
  
  .gamemode-card{
    background-color: var(--chess-content-background-color) !important;
    color: var(--chess-text-color) !important;
  }

  .gamemode-button{
    float: right;
  }
  </style>
  