<template>
  <div class="gameroomsview-container container-sm">
    <div class="row h-100">
      <div class="gamerooms">
        <hr/>
        <div class="row">
          <div class="col-auto my-auto">
            <input class="search" name="search" type="text" v-model="searchText">
            <i class="search-icon bi-search"></i>
          </div>
          <div class="col-auto my-auto">
            <input v-model="showFullRooms" type="checkbox" class="form-check-input show-full-rooms-check" id="showFullRooms">
            <label class="form-check-label pl-2 show-full-rooms-label" for="showFullRooms">Pokaż pełne pokoje</label>
          </div>
          <div class="col">
            <div class="text-end">
              <!-- Button to trigger Modal -->
              <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#createGameRoomModal"><i class="bi-plus"></i> Utwórz nowy pokój</button>
            </div>
          </div>
        </div>
        <hr/>
        <div class="col">
          <div v-for='room in filteredRooms()' class="gameroom row">
            <div class="row">
              <div class="col">
                #{{room.id}}
              </div>
              <div class="col text-center">
                <b>{{room.name}} <b v-if="room.description?.length > 0">-</b> </b> <i>{{room.description}}</i>
              </div>
              <div class="col text-end">
              </div>
            </div>
            <div class="row mt-4">
              <div class="row" v-if="room.white" :class="{'reorder-class': room.white && !room.black}">
                <div class="col text-end p-1 pr-3">
                  <i class="white bi-square-fill"></i>
                </div>
                <div class="col p-1">
                  <PlayerInfo :spacing='true' :name="room.white.profile.user"></PlayerInfo>
                </div>
              </div>
              <div class="row" v-if="room.black" :class="{'reorder-class': room.black && !room.white}">
                <div class="col text-end p-1 pr-3">
                  <i class="black bi-square-fill"></i>
                </div>
                <div class="col p-1">
                  <PlayerInfo :spacing='true' :name="room.black.profile.user"></PlayerInfo>
                </div>
              </div>
              <div class="row" v-if="!room.white" :class="{'reorder-class': room.white && !room.black}">
                <div class="col text-end p-1 pr-3">
                  <i class="white bi-square-fill"></i>
                </div>
                <div class="col my-auto p-1">
                  <router-link @click.native="changeColor(room.id, 'white')" to="">Dołącz</router-link>
                </div>
              </div>
              <div class="row" v-if="!room.black" :class="{'reorder-class': room.black && !room.white}">
                <div class="col text-end p-1 pr-3">
                  <i class="black bi-square-fill"></i>
                </div>
                <div class="col my-auto p-1">
                  <router-link @click.native="changeColor(room.id, 'black')" to="">Dołącz</router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <RegisterNewRoom></RegisterNewRoom>
</template>

<script>
import { getGameRooms, joinRoom, setColor } from '../services/Requests'
import PlayerInfo from '../components/PlayerInfo.vue'
import RegisterNewRoom from '../components/RegisterNewRoom.vue'

export default{
    components: {
        PlayerInfo,
        RegisterNewRoom
    },
    data() {
      return {
        gamerooms: [],
        searchText: '',
        showFullRooms: false,
        gameroomsInterval: setInterval(async() => {
          this.gamerooms = await this.loadGamerooms();
        }, 1000),
      };
    },
    computed:{
    },
    methods: {
      async loadGamerooms(){ 
        const receivedGameRooms = await getGameRooms(localStorage.getItem('token'))
        return receivedGameRooms
      },
      async changeColor(roomId, color){
        let token = localStorage.getItem('token')
        await joinRoom(token, roomId)
        await setColor(token, roomId, color)
        this.$router.push('/gamemode/versus/gameroom/'+roomId);
      },
      filteredRooms(){
        return this.gamerooms.filter(gameroom => gameroom?.gameIsActive == true)
        .filter(gameroom => 
          gameroom.name.toLowerCase().includes(this.searchText.toLowerCase()) || 
          gameroom.description.toLowerCase().includes(this.searchText.toLowerCase()) || 
          gameroom.id.toString().toLowerCase().includes(this.searchText.toLowerCase())
        ).filter(gameroom => this.showFullRooms ? true : (!gameroom?.white || !gameroom?.black));
      }
    },
    async mounted(){
      this.gamerooms = await this.loadGamerooms();
    },
    beforeUnmount(){
      clearInterval(this.gameroomsInterval);
    }
}
</script>

<style>
.gameroomsview-container{ 
  height: 100%;
}

.gamerooms{ 
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--chess-panel-background-color) !important;
  height: 100%;
}

.gameroom{
  line-height: 1.5;
  height: auto;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: var(--chess-content-background-color) !important;
  color: var(--chess-text-color) !important;
}

.avatar{
  box-shadow: 0 0 0.25rem black;
}

.black{
  font-size: 2em;
  color: black;
  text-shadow: 0 0 0.25rem black;
}

.white{
  font-size: 2em;
  color: white;
  text-shadow: 0 0 0.25rem black;
}

.search{
  outline: none;
  border-radius: 0.25rem;
  background-color: var(--chess-content-background-color) !important;
  border: none;
  color: var(--chess-text-color) !important;
  padding: 0.25rem;
}
.search-icon {
  padding-left: 1rem;
  color: var(--chess-text-color) !important;
}

.show-full-rooms-label{
  line-height: 1.5;
  color: var(--chess-text-color) !important;
}

.reorder-class{
  order: -1;
}

.show-full-rooms-check{
  background-color: var(--chess-content-background-color);
}
</style>
