<template>
  <div class="gameview-container container-lg">
    <div class="row h-100">
      <div class="game-container col-8">
        <div class="game">
          <div class="col h-100">
            <div class="h-100 d-flex flex-column">
              <div class="row">
                <div class="player-info">
                  <PlayerInfo :spacing='true' :name="enemy?.user"></PlayerInfo>
                </div>
              </div>
              <div class="row flex-grow-1">
                <Szachy></Szachy>
              </div>
              <div class="row">
                <div class="player-info">
                  <PlayerInfo :spacing='true' :name="self?.user"></PlayerInfo>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-container col-4">
        <div class="chat">
          <Chat></Chat>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Szachy from '../game/Szachy.vue'
import PlayerInfo from '../components/PlayerInfo.vue'
import Chat from '../components/Chat.vue'
import { getUser, getGameRoom } from '../services/Requests'

export default{
    components: {
        Szachy,
        PlayerInfo,
        Chat
    },
    props: {
        roomid: String
    },
    data() {
      return {
        gameRoom: null,
        user: null,
        enemy: null,
        self: null
      };
    },
    async mounted(){
        await this.loadGamerooms();
    },
    methods: {
      async loadGamerooms(){ 
        this.gameRoom = await getGameRoom(localStorage.getItem('token'), this.roomid);
        this.user = await getUser(localStorage.getItem("token"))
        // TODO: @Pioterk - czy wartość w blackChessPlayer i whiteChessPlayer to id profilu/usera? Bo jest to wartośc typu String a nie Int
        if(this.gameRoom?.black?.profile?.id == this.user.id) {
          window.playerSide = "black"
          this.enemy = this.gameRoom?.white?.profile
          this.self = this.gameRoom?.black?.profile
        }else{
          window.playerSide = "white"
          this.enemy = this.gameRoom?.black?.profile
          this.self = this.gameRoom?.white?.profile
        }
      }
    },
}
</script>

<style>
.gameview-container{ 
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.game-container{ 
  height: 100%;
  padding: 1rem;
  padding-right: 0.5rem;
}
.game{ 
  overflow: hidden;
  border-radius: 1rem;
  height: 100%;
  background-color: var(--chess-content-background-color) !important;
  color: var(--chess-text-highlighted-color) !important;
}
.chat-container{ 
  height: 100%;
  padding: 1rem;
  padding-left: 0.5rem;
}
.chat{ 
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
  background-color: var(--chess-content-background-color) !important;
  color: var(--chess-text-highlighted-color) !important;
}
.player-info{
  padding: 1.0rem;
  padding-left: 1.5rem;
  height: 5rem;
}
</style>
