<template>
  <div class="login-container container-lg h-100">
    <div class="row h-100">
      <div class="login-inner-container col-12">
        <div class="row h-100">
            <div class="col-md-3 h-0"></div>
            <div class="login col-md-6 h-100">
                <div class="d-flex flex-column min-vh-100">
                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <form class="w-100 p-5 needs-validation" novalidate @submit="checkForm" onsubmit="return false">
                            <div class="form-group mb-3">
                                <label class="login-label" for="login">Login</label>
                                <input v-model="login" type="text" class="form-control login-input" :class="{'is-invalid': !!this.errors.loginError}" id="login" aria-describedby="loginHelp" placeholder="Podaj login">
                                <div v-if="!!this.errors.loginError" class="invalid-feedback">
                                    {{ this.errors.loginError}}
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="login-label" for="password">Hasło</label>
                                <input v-model="password" type="password" class="form-control login-input" :class="{'is-invalid': !!this.errors.passwordError}" id="password" placeholder="Podaj hasło">
                                <div v-if="!!this.errors.passwordError" class="invalid-feedback">
                                    {{ this.errors.passwordError}}
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input v-model="rememberme" type="checkbox" class="login-label form-check-input remember-me-check" id="rememberMe">
                                <label class="login-label form-check-label" for="rememberMe">Zapamietaj mnie</label>
                            </div>
                            <div class="login-button">
                                <button type="submit" class="btn btn-primary">Zaloguj</button>
                            </div>
                            <div v-if="!!this.result" class="alert alert-danger mt-3" role="alert">
                                {{ this.result }}
                            </div>
                            <hr/>
                            <label class="create-new-account-label">Jeżeli nie posiadasz jeszcze konta to <RouterLink to="/register">Zarejestruj się</RouterLink></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 h-0"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { login } from '../services/Requests'

export default{
    data() {
        return {
            errors: {},
            token: null,
            result: null,
            login: null,
            password: null,
            rememberme: false
        }
    },
    methods:{
        checkForm: function (e) {
            this.errors = {};
            if (!this.login) {
                this.errors.loginError = 'Podaj login.';
            }
            if (!this.password) {
                this.errors.passwordError = 'Podaj hasło.';
            }
            if (Object.keys(this.errors).length === 0) {
                this.loginUser()
                return true;
            }
            e.preventDefault();
        },
        async loginUser(){
            this.token = await login(this.login, this.password)
            localStorage.setItem('rememberme', this.rememberme);
            if(this.token.auth_token){
                localStorage.setItem('token', this.token.auth_token);
                
                console.log(localStorage.getItem("theme"))
                if(localStorage.getItem("theme") == 'light'){
                    document.body.classList.toggle('theme-light')
                }else if(localStorage.getItem("theme") == 'dark'){
                    document.body.classList.toggle('theme-dark')
                }else{
                    document.body.classList.toggle('theme-dark')
                    localStorage.setItem("theme", 'dark')
                }
                this.$router.push('/gamemodes');
            }else{
                this.result = this.token
            }
        }    
    },
    mounted(){
        if(localStorage.getItem('token')){
            this.$router.push('/gamemodes');
        }
    } 
}
</script>

<style>
.login-container{
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

.login{
    background-color: var(--chess-panel-background-color) !important;
    height: 100%;
}

.login-input{
    background-color: var(--chess-content-background-color);
}

.login-form{
    top: 0%;
    transform: translateY(50vh);
}

.login-label{
    
    color: var(--chess-text-color)  !important;
}

.login-button{
    text-align: center;  
}

.create-new-account-label{
    width: 100%;
    text-align: center;
    color: var(--chess-text-color) ;
}

.remember-me-check{
    background-color: var(--chess-content-background-color);
}
</style>
