<template>
</template>

<script>
  import { logout } from '../services/Requests'
  export default{
    async mounted() {
        await logout(localStorage.getItem("token"))
        localStorage.removeItem("token");
        localStorage.removeItem("theme");
        document.body.classList.remove('theme-light')
        document.body.classList.remove('theme-dark')
        this.$router.push('/');
    }
  }
</script>
  
<style>
</style>