<template>
    <div class="content">
        <span>token: {{token}}</span>
    </div>
</template>

<script>
import { login } from '../services/Requests'

export default{
    data() {
      return {
        token: [],
      };
    },
    methods: {
        async loadUsers(){
            this.token = await login("admin", "admin")
            console.log(this.token)
            document.cookie = "token=" + this.token.auth_token + "; SameSite=None; Secure";
        }
    },
    async mounted(){
        await this.loadUsers();
    }

}
</script>

<style>
.content{
    color: white;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}
</style>
