<template>
  <div class="historiesview-container container-sm">
    <div class="row h-100">
      <div class="histories">
        <span class="history-title pt-2 pb-4">Historia meczy</span>
          <span v-if="!this.historicalRooms"><i>brak</i></span>
          <div class="row" v-if="this.historicalRooms">
          <div class="col-6" v-for="h in historicalRooms">
            <div class="historical-match-panel p-2">
              <div class="row">
                <div class="historical-match col-8">
                  <div class="col text-end p-1 pr-3">
                    <i class="white bi-square-fill"></i>
                  </div>
                  <div class="col p-1" :class="{'historical-self-bolded': h.white?.profile?.id == self?.id}">
                    <PlayerInfo :name="h.white?.profile?.user" :inline='true' :spacing='true'></PlayerInfo>
                  </div><br/>
                  <div class="col text-end p-1 pr-3">
                    <i class="black bi-square-fill"></i>
                  </div>
                  <div class="col p-1" :class="{'historical-self-bolded': h.black?.profile?.id == self?.id}">
                    <PlayerInfo :name="h.black?.profile?.user" :inline='true' :spacing='true'></PlayerInfo>
                  </div>
                </div>
                <div class="col-4">
                  <div class="historical-match-result">
                    <!--TODO: dodać pole id zwyciężcy-->
                    <span :class="{'win-text':(h?.gamestats?.winner_color == 'black' && h.black?.profile?.id == self?.id)||(h?.gamestats?.winner_color == 'white' && h.white?.profile?.id == self?.id),'lose-text':(h?.gamestats?.winner_color == 'black' && h.black?.profile?.id != self?.id)||(h?.gamestats?.winner_color != 'white' && h.white?.profile?.id == self?.id),'draw-text':h?.gamestats?.winner_color == null}">
                      {{h?.gamestats?.winner_color != null ? (h?.gamestats?.winner_color == 'black' && h.black?.profile?.id == self?.id)||(h?.gamestats?.winner_color == 'white' && h.white?.profile?.id == self?.id) ? "WIN" : "LOSE" : "DRAW"}}
                      <br>
                      {{(h?.gamestats?.winner_color == 'black' && h.black?.profile?.id == self?.id)||(h?.gamestats?.winner_color == 'white' && h.white?.profile?.id == self?.id) ? h?.gamestats?.winner_rank_diff : h?.gamestats?.loser_rank_diff}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getGameRooms, getUser } from '../services/Requests'
import PlayerInfo from '../components/PlayerInfo.vue'

export default{
    components: {
        PlayerInfo
    },
    data() {
      return {
        historicalRooms: [],
        self: null,
      };
    },
    computed:{
    },
    methods: {
      async loadHistoricalRooms(){ 
        let receivedProfiles = await getGameRooms(localStorage.getItem('token'))
        return receivedProfiles.filter(gameroom => gameroom?.gameIsActive == false);
      }
    },
    async mounted(){
      let loadHistoricalRooms = await this.loadHistoricalRooms()
      this.self = await getUser(localStorage.getItem("token"))
      this.historicalRooms = loadHistoricalRooms.filter(gameroom => gameroom?.whiteChessPlayer == this.self.id || gameroom?.blackChessPlayer == this.self.id);
    }
}
</script>

<style>
.historiesview-container{ 
  height: 100%;
}

.histories{ 
  line-height: 1.5;
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--chess-panel-background-color) !important;
  height: 100vh;
}

.history-title{
  display: inline;
  color: var(--chess-text-color) !important;
  font-size: 3rem;
  text-align: center;
  display: block;
}

.historical-match-panel{
  border-radius: 1rem;
  background-color: var(--chess-content-background-color) !important;
}

.historical-match, .historical-match > *{
  display: inline;
}

.historical-match-result{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.win-text{
  color: lime;
}

.lose-text{
  color: red;
}

.draw-text{
  color: var(--chess-sub-text-color);
}

.historical-self-bolded{
  font-weight: bold;
}
</style>
