<template>
  <div class="d-flex flex-column min-vh-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="text-center">
            <img src="/surrender.png"/><br>
            <h1 class="not-found-text">NIE PODDAWAJ SIĘ</h1>
        </div>
    </div>
  </div>
</template>
  
  <script>
  export default{
      data() {
        return {
        };
      }
  }
  </script>
  
  <style>
  .not-found-text{
    color: white;
  }
  </style>
  