<template>
    <div class="settingsview-container container-sm">
        <div class="row h-100">
            <div class="settings">
                <div class="row h-100">
                    <div class="register col-md-12 h-100 te">
                        <div class="d-flex flex-column min-vh-100 align-items-center">
                            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                                <form class="w-100 p-5 needs-validation" encType="multipart/form-data" novalidate @submit="checkForm" onsubmit="return false">
                                    <div class="form-group mb-3">
                                        <label class="login-label" for="country">Kraj</label>
                                        <input v-model="country" type="text" class="form-control login-input" :class="{'is-invalid': !!this.errors.countryError}" id="country" aria-describedby="countryHelp" placeholder="Podaj kraj">
                                        <div v-if="!!this.errors.countryError" class="invalid-feedback">
                                            {{ this.errors.countryError}}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="login-label" for="city">City</label>
                                        <input v-model="city" type="text" class="form-control login-input" :class="{'is-invalid': !!this.errors.cityError}" id="city" aria-describedby="cityHelp" placeholder="Podaj miasto">
                                        <div v-if="!!this.errors.cityError" class="invalid-feedback">
                                            {{ this.errors.cityError}}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="login-label" for="about_me">Opis</label>
                                        <input v-model="about_me" type="text" class="form-control login-input" :class="{'is-invalid': !!this.errors.aboutMeError}" id="about_me" aria-describedby="aboutMeHelp" placeholder="Podaj opis">
                                        <div v-if="!!this.errors.aboutMeError" class="invalid-feedback">
                                            {{ this.errors.aboutMeError}}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="register-label pr-4" for="avatar_image">Avatar</label>
                                        <input type="file" id="avatar_image" 
                                            v-on:change="previewFiles()" ref="avatarFiles"
                                            name="image_url"
                                            accept="image/jpeg,image/png,image/gif">
                                    </div>
                                    <div class="register-button">
                                        <button type="submit" class="btn btn-primary">Zaktualizuj profil</button>
                                    </div>
                                    <div v-if="!!this.result && !this.result?.id" class="alert alert-danger mt-3" role="alert">
                                        {{this.result}}
                                    </div>
                                    <div v-if="!!this.result?.id" class="alert alert-success mt-3" role="alert">
                                        Pomyślnie zaktualizowano profil
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import { updateProfile, getUser, updateAvatar } from '../services/Requests'
  export default{
    data() {
        return {
            result: null,
            country: '',
            city: '',
            about_me: '',
            avatar: null,
            errors: {},
            user: null,
        }
    },
    methods:{
        previewFiles: function() {
            console.log(this.$refs.avatarFiles.files[0])
            this.avatar = this.$refs.avatarFiles.files[0]
            console.log(this.avatar)
        },
        checkForm: function (e) {
            this.errors = {};
            if (Object.keys(this.errors).length === 0) {
                if(this.country !== undefined || this.city !== undefined || this.about_me !== undefined){
                    updateProfile(localStorage.getItem('token'), this.user.id, this.country, this.city, this.about_me)
                }
                if(this.avatar !== undefined){
                    let data = new FormData();
                    console.log(data)
                    data.append('avatar', this.avatar);
                    console.log(data.get('avatar'))
                    updateAvatar(localStorage.getItem('token'), data, {'content-type': 'multipart/form-data'})
                }
                return true;
            }
            e.preventDefault();
        }
    },
    async mounted(){
      this.user = await getUser(localStorage.getItem("token"))
    }
  }
</script>
  
<style>
.settingsview-container{ 
    height: 100%;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

.settings{ 
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--chess-panel-background-color) !important;
    height: 100%;
}

</style>