<template>
    <div class="profileview-container container-sm">
      <div class="row h-100">
        <div class="profile py-3">
            <div class="row px-5 py-3">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <img class="profile-avatar" src="/avatar.png">
                        </div>
                        <div class="col profile-name">
                            <h3>{{this.user?.username}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col profile-rank text-righ">
                    <div class="profile-rank-value text-right">
                        <h3>Ranga: {{this.profile?.rank}}</h3>
                    </div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <div class="row">
                        <div class="col p-2 mr-2 text-center info-box">
                            <span>Pozycja w rankingu: {{rankingIndex}}</span>
                        </div>
                        <div class="col p-2 ml-2 text-center info-box">
                            <span>WR: {{wr*100}}%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <div class="row py-3">
                        <div class="col p-2 mr-2 text-center info-box">
                            <span>Poddane gry: {{surrenders}}</span>
                        </div>
                        <div class="col p-2 ml-2 text-center info-box">
                            <span>Naj. seria wygranych: {{streak}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <span class="profile-last-game">Ostatnie gry:</span><br>
            <span v-if="!this.historicalRooms"><i>brak</i></span>
            <div class="row" v-if="this.historicalRooms">
                <div class="col-6" v-for="h in historicalRooms">
                    <div class="historical-match-panel p-2">
                        <div class="row">
                            <div class="historical-match col-8">
                                <div class="col text-end p-1 pr-3">
                                    <i class="white bi-square-fill"></i>
                                </div>
                                <div class="col p-1" :class="{'historical-self-bolded': h.white?.profile?.id == user?.id}">
                                    <PlayerInfo :name="h.white?.profile?.user" :inline='true' :spacing='true'></PlayerInfo>
                                </div><br/>
                                <div class="col text-end p-1 pr-3">
                                    <i class="black bi-square-fill"></i>
                                </div>
                                <div class="col p-1" :class="{'historical-self-bolded': h.black?.profile?.id == user?.id}">
                                    <PlayerInfo :name="h.black?.profile?.user" :inline='true' :spacing='true'></PlayerInfo>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="historical-match-result">
                                    <!--TODO: dodać pole id zwyciężcy-->
                                    <span :class="{'win-text':(h?.gamestats?.winner_color == 'black' && h.black?.profile?.id == user?.id)||(h?.gamestats?.winner_color == 'white' && h.white?.profile?.id == user?.id),'lose-text':(h?.gamestats?.winner_color == 'black' && h.black?.profile?.id != user?.id)||(h?.gamestats?.winner_color != 'white' && h.white?.profile?.id == user?.id),'draw-text':h?.gamestats?.winner_color == null}">
                                    {{h?.gamestats?.winner_color != null ? (h?.gamestats?.winner_color == 'black' && h.black?.profile?.id == user?.id)||(h?.gamestats?.winner_color == 'white' && h.white?.profile?.id == user?.id) ? "WIN" : "LOSE" : "DRAW"}}
                                    <br>
                                    {{(h?.gamestats?.winner_color == 'black' && h.black?.profile?.id == user?.id)||(h?.gamestats?.winner_color == 'white' && h.white?.profile?.id == user?.id) ? h?.gamestats?.winner_rank_diff : h?.gamestats?.loser_rank_diff}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { getGameRooms, getProfile, getUser } from '../services/Requests'
    import PlayerInfo from '../components/PlayerInfo.vue'
  export default{
    components: {
        PlayerInfo
    },
    data() {
        return {
            profile: null,
            user: null,
            historicalRooms: [],
            allHistoricalRooms: [],
            rankingIndex: 0,
            surrenders: null,
            wr: 0,
            streak: 0
        }
    },
    methods: {
      async loadHistoricalRooms(){ 
        let receivedProfiles = await getGameRooms(localStorage.getItem('token'))
        return receivedProfiles
      },
      compareValues(key, order = 'asc') {
        return function innerSort(a, b) {
          if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
            return 0;
          }
          const varA = (typeof a[key] === 'string')
            ? a[key].toUpperCase() : a[key];
          const varB = (typeof b[key] === 'string')
            ? b[key].toUpperCase() : b[key];
          let comparison = 0;
          if (varA > varB) {
            comparison = 1;
          } else if (varA < varB) {
            comparison = -1;
          }
          return (
            (order === 'desc') ? (comparison * -1) : comparison
          );
        };
      }
    },
    async mounted(){
        this.user = await getUser(localStorage.getItem("token"))
        this.profile = await getProfile(localStorage.getItem("token"), this.user.id)
        this.allHistoricalRooms = await this.loadHistoricalRooms()
        this.historicalRooms = this.allHistoricalRooms.filter(gameroom => gameroom?.gameIsActive == false).sort(this.compareValues('id','desc')).filter(gameroom => gameroom?.whiteChessPlayer == this.user.id || gameroom?.blackChessPlayer == this.user.id).slice(0, 4);
        let wins = 0
        let winStreak = 0
        this.allHistoricalRooms.filter(gameroom => gameroom?.gameIsActive == false).forEach((el) => {
            if(el.gamestats.winner_color == "white"){
                if(el.white?.profile.id == this.user.id){
                    winStreak++
                    wins += 1.0
                }else if(el.black?.profile.id == this.user.id){
                    if(this.streak < winStreak) this.streak = winStreak
                    winStreak = 0
                }
            }else if(el.gamestats.winner_color == "black"){
                if(el.white?.profile.id == this.user.id){
                    if(this.streak < winStreak) this.streak = winStreak
                    winStreak = 0
                }else if(el.black?.profile.id == this.user.id){
                    winStreak++
                    wins += 1.0
                }
            }
        })
        this.wr = wins / this.allHistoricalRooms?.length
        this.ranking = loadedProfiles.sort(this.compareValues('rank','desc'));
        this.rankingIndex = this.ranking.findIndex((profile) => profile.id==this.user.id) + 1;
    }
  }
</script>
  
<style>
.profileview-container{ 
    height: 100%;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

.profile{ 
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--chess-panel-background-color) !important;
    height: 100%;
}

.info-box{
    color: var(--chess-text-color) !important;
    background-color: var(--chess-content-background-color) !important;
}

.profile-avatar{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0.25rem black;
}

.profile-name{
    color: var(--chess-text-color) !important;
    display: flex;
    align-items: center;
}

.profile-rank{
    width: 100%;
    display: flex;
    text-align: right;
    align-items: center;
}

.profile-rank-value{
    color: var(--chess-text-color) !important;
    margin-left: auto;
}
.profile-last-game{
    color: var(--chess-text-color) !important;
}
</style>