<template>
  <div class="rankingview-container container-sm">
    <div class="row h-100">
      <div class="rankings">
        <span class="ranking-title pt-2 pb-4">Ranking topowych graczy</span>
        <div class="row">
          <!--Tymczasowe pobium-->
          <div class="col-4">
            <div v-if="ranking[1]?.user" class="podium-2" :class="{'podium-self': this.rankingIndex == 1}"><span class="ranking-position-2">2</span><PlayerInfo :name="ranking[1]?.user" :spacing='false' :vertical='true'></PlayerInfo><span class="ranking-score">{{ranking[1]?.rank}}</span></div>
          </div>
          <div class="col-4">
            <div v-if="ranking[0]?.user" class="podium-1" :class="{'podium-self': this.rankingIndex == 0}"><span class="ranking-position-1">1</span><PlayerInfo :name="ranking[0]?.user" :spacing='false' :vertical='true'></PlayerInfo><span class="ranking-score">{{ranking[0]?.rank}}</span></div>
          </div>
          <div class="col-4">
            <div v-if="ranking[2]?.user" class="podium-3" :class="{'podium-self': this.rankingIndex == 2}"><span class="ranking-position-3">3</span><PlayerInfo :name="ranking[2]?.user" :spacing='false' :vertical='true'></PlayerInfo><span class="ranking-score">{{ranking[2]?.rank}}</span></div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col">
            <div v-for="i in 7"><div class="podium-row p-3 mb-3" :class="{'podium-self': parseInt(i + 2) == this.rankingIndex}" v-if="ranking[parseInt(i + 2)]?.user"><span class="ranking-position pr-2">{{parseInt(i + 3)}}</span><PlayerInfo :name="ranking[parseInt(i + 2)]?.user" :inline='true' :spacing='true'></PlayerInfo><span class="ranking-small-score pl-2">{{ranking[parseInt(i + 2)]?.rank}}</span></div></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="podium-self p-3 mb-3" v-if="this.rankingIndex >= 10"><span class="ranking-position pr-2">{{this.rankingIndex+1}}</span><PlayerInfo :name="ranking[this.rankingIndex]?.user" :inline='true' :spacing='true'></PlayerInfo><span class="ranking-small-score pl-2">{{ranking[this.rankingIndex]?.rank}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getProfiles, getUser } from '../services/Requests'
import PlayerInfo from '../components/PlayerInfo.vue'

export default{
    components: {
        PlayerInfo
    },
    data() {
      return {
        ranking: [],
        rankingIndex: null,
        user: {}
      };
    },
    computed:{
    },
    methods: {
      async loadRanking(){ 
        const receivedProfiles = await getProfiles(localStorage.getItem('token'))
        return receivedProfiles
      },
      compareValues(key, order = 'asc') {
        return function innerSort(a, b) {
          if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
            return 0;
          }
          const varA = (typeof a[key] === 'string')
            ? a[key].toUpperCase() : a[key];
          const varB = (typeof b[key] === 'string')
            ? b[key].toUpperCase() : b[key];
          let comparison = 0;
          if (varA > varB) {
            comparison = 1;
          } else if (varA < varB) {
            comparison = -1;
          }
          return (
            (order === 'desc') ? (comparison * -1) : comparison
          );
        };
      }
    },
    async mounted(){
      let loadedProfiles = await this.loadRanking()
      this.user = await getUser(localStorage.getItem("token"))
      this.ranking = loadedProfiles.sort(this.compareValues('rank','desc'));
      this.rankingIndex = this.ranking.findIndex((profile) => profile.id==this.user.id);
    }
}
</script>

<style>
.rankingsview-container{ 
  height: 100%;
}

.rankings{ 
  line-height: 1.5;
  overflow: hidden;
  overflow-y: scroll;
  background-color: var(--chess-panel-background-color) !important;
  height: 100vh;
}

.ranking-title{
  color: var(--chess-text-color) !important;
  font-size: 3rem;
  text-align: center;
  display: block;
}

.ranking-position-1{
  font-size: 2.5rem;
  color: gold;
}

.podium-1{
  border-radius: 1rem;
  background-color: var(--chess-content-background-color) !important;
  min-height: 30vh;
  text-align: center;
}

.ranking-position-2{
  font-size: 2rem;
  color: silver;
}

.podium-2{
  border-radius: 1rem;
  background-color: var(--chess-content-background-color) !important;
  min-height: 25vh;
  margin-top: 5vh;
  text-align: center;
}

.ranking-position-3{
  font-size: 1.5rem;
  color:saddlebrown;
}

.podium-3{
  border-radius: 1rem;
  background-color: var(--chess-content-background-color) !important;
  min-height: 20vh;
  margin-top: 10vh;
  text-align: center;
}

.ranking-score{
  font-size: 2rem;
  color:chartreuse;
}

.podium-row{
  border-radius: 1rem;
  background-color: var(--chess-content-background-color) !important;
}

.ranking-small-score{
  display: inline-block;
  color:chartreuse;
}

.ranking-position{
  color:var(--chess-text-color) !important;
}

.podium-self{
  border-radius: 1rem;
  background-color: var(--chess-chat-box-background-color) !important;
}
</style>
