<template>
    <div class="register-container container-lg h-100">
        <div class="row h-100">
            <div class="register-inner-container col-12">
                <div class="row h-100">
                    <div class="col-md-3 h-0"></div>
                    <div class="register col-md-6 h-100">
                        <div class="d-flex flex-column min-vh-100">
                            <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                                <form class="w-100 p-5 needs-validation" novalidate @submit="checkForm" onsubmit="return false">
                                    <div class="form-group mb-3">
                                        <label class="register-label" for="login">Login</label>
                                        <input v-model="login" type="text" class="form-control register-input" :class="{'is-invalid': !!this.errors.loginError}" id="login" aria-describedby="loginHelp" placeholder="Podaj login">
                                        <div v-if="!!this.errors.loginError" class="invalid-feedback">
                                            {{ this.errors.loginError }}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="register-label" for="email">Email</label>
                                        <input v-model="email" type="email" class="form-control register-input" :class="{'is-invalid': !!this.errors.emailError}" id="email" aria-describedby="emailHelp" placeholder="Podaj adres email">
                                        <div v-if="!!this.errors.emailError" class="invalid-feedback">
                                            {{ this.errors.emailError }}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="register-label" for="repeatEmail">Powtórz email</label>
                                        <input v-model="repeatEmail" type="email" class="form-control register-input" :class="{'is-invalid': !!this.errors.repeatEmailError || !!this.errors.emailIdentityError}" id="repeatEmail" aria-describedby="repeatEmailHelp" placeholder="Powtórz adres email">
                                        <div v-if="!!this.errors.repeatEmailError || !!this.errors.emailIdentityError" class="invalid-feedback">
                                            {{ this.errors.repeatEmailError }} 
                                            {{ this.errors.emailIdentityError }}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="register-label" for="password">Hasło</label>
                                        <input v-model="password" type="password" class="form-control register-input" :class="{'is-invalid': !!this.errors.passwordError}" id="password" placeholder="Podaj hasło">
                                        <div v-if="!!this.errors.passwordError" class="invalid-feedback">
                                            {{ this.errors.passwordError }}
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="register-label" for="repeatPassword">Powtórz hasło</label>
                                        <input v-model="repeatPassword" type="password" class="form-control register-input" :class="{'is-invalid': !!this.errors.repeatPasswordError || !!this.errors.passwordIdentityError}" id="repeatPassword" placeholder="Powtórz hasło">
                                        <div v-if="!!this.errors.repeatPasswordError || !!this.errors.passwordIdentityError" class="invalid-feedback">
                                            {{ this.errors.repeatPasswordError }} 
                                            {{ this.errors.passwordIdentityError }}
                                        </div>
                                    </div>
                                    <div class="register-button">
                                        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                                    </div>
                                    <div v-if="!!this.result && !this.result?.id" class="alert alert-danger mt-3" role="alert">
                                        {{this.result}}
                                    </div>
                                    <div v-if="!!this.result?.id" class="alert alert-success mt-3" role="alert">
                                        Pomyślnie zarejestrowano konto
                                    </div>
                                    <hr/>
                                    <label class="create-new-account-label">Jeżeli posiadasz już konta to <RouterLink to="/login">Zaloguj się</RouterLink></label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 h-0"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { register } from '../services/Requests'

export default{
    data() {
        return {
            errors: {},
            result: null,
            login: null,
            email: null,
            repeatEmail: null,
            password: null,
            repeatPassword: null,
        }
    },
    methods:{
        checkForm: function (e) {
            this.errors = {};
            if (!this.login) {
                this.errors.loginError = 'Podaj login.';
            }
            if (!this.email) {
                this.errors.emailError = 'Podaj email.';
            }
            if (!this.repeatEmail) {
                this.errors.repeatEmailError = 'Podaj ponownie email.';
            }
            if (!this.password) {
                this.errors.passwordError = 'Podaj hasło.';
            }
            if (!this.repeatPassword) {
                this.errors.repeatPasswordError = 'Podaj ponownie hasło.';
            }
            if (this.email !== this.repeatEmail) {
                this.errors.emailIdentityError = 'Adresy email nie są identyczne.';
            }
            if (this.password !== this.repeatPassword) {
                this.errors.passwordIdentityError = 'Hasła nie są identyczne.';
            }
            if (Object.keys(this.errors).length === 0) {
                this.registerUser()
                return true;
            }
            e.preventDefault();
        },
        async registerUser(){
            this.result = await register(this.login, this.email, this.password)
        }    
    },
    mounted(){
        if(localStorage.getItem('token')){
            this.$router.push('/gamemodes');
        }
    } 
}
</script>

<style>
.register-container{
    line-height: 1.5;
    width: 100%;
    height: 100%;
}
.register{
    background-color: var(--chess-panel-background-color) !important;
    height: 100%;
}
.register-input{
    background-color: var(--chess-content-background-color);
}
.register-form{
    top: 0%;
    transform: translateY(50vh);
}
.register-label{
    color: var(--chess-text-color);
}
.register-button{
    text-align: center;  
}
.create-new-account-label{
    width: 100%;
    text-align: center;
    color: var(--chess-text-color);
}
</style>