<template>
    <div class="profileview-container container-sm" :key="renderKey">
      <div class="row h-100">
        <div class="profile py-3" :id="key">
        <span class="ranking-title pt-2 pb-4">Statystyki</span>
            <div class="row px-3">
                <div class="col">
                    <div class="row">
                        <div class="col p-2 mr-2 text-center info-box">
                            <span>Pozycja w rankingu: {{rankingIndex}}</span>
                        </div>
                        <div class="col p-2 ml-2 text-center info-box">
                            <span>WR: {{wr*100}}%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-3">
                <div class="col">
                    <div class="row py-3">
                        <div class="col p-2 mr-2 text-center info-box">
                            <span>Poddane gry: {{surrenders}}</span>
                        </div>
                        <div class="col p-2 ml-2 text-center info-box">
                            <span>Naj. seria wygranych: {{streak}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div><Line :data="chartData"/></div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { getGameRooms, getProfile, getUser, getProfiles } from '../services/Requests'
  import { Line } from 'vue-chartjs'
  import {
    Chart as ChartJS,
    CategoryScale,
    LinearScale,
    PointElement,
    LineElement,
    Title,
    Tooltip,
    Legend
    } from 'chart.js'

  ChartJS.register(
    CategoryScale,
    LinearScale,
    PointElement,
    LineElement,
    Title,
    Tooltip,
    Legend)

  export default{
    components: { Line },
    data() {
        return {
            profile: null,
            user: null,
            allHistoricalRooms: [], 
            theme: localStorage.getItem("theme"),
            ranking: [],
            rankingIndex: 0,
            surrenders: null,
            wr: 0,
            streak: 0,
            chartInterval: setInterval(async() => {
                if(this.theme != localStorage.getItem("theme")){
                    this.chartData.datasets[0].backgroundColor = localStorage.getItem("theme") == "light" ? "#000000 ": '#ffffff'
                    this.chartData.datasets[0].borderColor = localStorage.getItem("theme") == "light" ? "#000000 ": '#ffffff'
                    this.chartData.datasets[0].color = localStorage.getItem("theme") == "light" ? "#000000 ": '#ffffff'
                    this.renderKey++;
                    this.theme = localStorage.getItem("theme")
                }
            }, 100),
            chartCount: [],
            chartStats: [],
            renderKey: 0,
            chartData: {
                labels: this.chartCount,
                datasets: [
                    {
                        label: 'Punkty elo',
                        backgroundColor: localStorage.getItem("theme") == "light" ? "#000000 ": '#ffffff',
                        borderColor: localStorage.getItem("theme") == "light" ? "#000000 ": '#ffffff',
                        color: localStorage.getItem("theme") == "light" ? "#000000 ": '#ffffff',
                        data: this.chartStats
                    }
                ]
            }
        }
    },
    methods: {
      async loadRanking(){ 
        const receivedProfiles = await getProfiles(localStorage.getItem('token'))
        return receivedProfiles
      },
      async loadHistoricalRooms(){ 
        let receivedProfiles = await getGameRooms(localStorage.getItem('token'))
        return receivedProfiles.filter(gameroom => gameroom?.gameIsActive == false);
      },
      compareValues(key, order = 'asc') {
        return function innerSort(a, b) {
          if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
            return 0;
          }
          const varA = (typeof a[key] === 'string')
            ? a[key].toUpperCase() : a[key];
          const varB = (typeof b[key] === 'string')
            ? b[key].toUpperCase() : b[key];
          let comparison = 0;
          if (varA > varB) {
            comparison = 1;
          } else if (varA < varB) {
            comparison = -1;
          }
          return (
            (order === 'desc') ? (comparison * -1) : comparison
          );
        };
      }
    },
    async mounted(){
        this.user = await getUser(localStorage.getItem("token"))
        this.profile = await getProfile(localStorage.getItem("token"), this.user.id)
        let loadedProfiles = await this.loadRanking()
        this.allHistoricalRooms = await this.loadHistoricalRooms()
        this.chartCount = [...Array(this.allHistoricalRooms?.length + 1).keys()]
        let elo = 800;
        this.chartStats.push(elo)
        let wins = 0
        let winStreak = 0
        this.allHistoricalRooms.forEach((el) => {
            if(el.gamestats.winner_color == "white"){
                if(el.white?.profile.id == this.user.id){
                    elo += el.gamestats.winner_rank_diff
                    winStreak++
                    wins += 1.0
                }else if(el.black?.profile.id == this.user.id){
                    elo += el.gamestats.loser_rank_diff
                    if(this.streak < winStreak) this.streak = winStreak
                    winStreak = 0
                }
            }else if(el.gamestats.winner_color == "black"){
                if(el.white?.profile.id == this.user.id){
                    elo += el.gamestats.loser_rank_diff
                    if(this.streak < winStreak) this.streak = winStreak
                    winStreak = 0
                }else if(el.black?.profile.id == this.user.id){
                    elo += el.gamestats.winner_rank_diff
                    winStreak++
                    wins += 1.0
                }
            }
            this.chartStats.push(elo)
        })
        this.wr = wins / this.allHistoricalRooms?.length
        this.ranking = loadedProfiles.sort(this.compareValues('rank','desc'));
        this.rankingIndex = this.ranking.findIndex((profile) => profile.id==this.user.id) + 1;
        this.chartData.labels = this.chartCount 
        this.chartData.datasets[0].data = this.chartStats     
        this.renderKey++;
    },
    beforeUnmount(){
        clearInterval(this.chartInterval);
    }
  }
</script>
  
<style>
.profileview-container{ 
    height: 100%;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

.profile{ 
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--chess-panel-background-color) !important;
    height: 100%;
}

.info-box{
    color: var(--chess-text-color) !important;
    background-color: var(--chess-content-background-color) !important;
}

.profile-avatar{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0.25rem black;
}

.profile-name{
    color: var(--chess-text-color) !important;
    display: flex;
    align-items: center;
}

.profile-rank{
    width: 100%;
    display: flex;
    text-align: right;
    align-items: center;
}

.profile-rank-value{
    color: var(--chess-text-color) !important;
    margin-left: auto;
}
.profile-last-game{
    color: var(--chess-text-color) !important;
}
canvas{
    width: 100%;
}
</style>